
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 160rem;
}.frame-2-h9b {
  box-sizing: border-box;
  padding-bottom: 10.354rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-xgob-dZ3 {
    margin-bottom: 7.1626rem;
    width: 100%;
    height: 12.7374rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-2-NWd {
      width: 160rem;
      height: 12.7rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #250505;
    }
    .item--Wsj {
      font-weight: 700;
      line-height: 1.2575;
      white-space: nowrap;
      height: 2.6rem;
      top: 5.2rem;
      left: 133.2rem;
      font-size: 2rem;
      color: #ffffff;
      font-family: Futura Heavy, 'Source Sans Pro';
      width: 19.9rem;
      position: absolute;
    }
    .item--BMb {
      left: 97rem;
      color: #ffffff;
      font-family: Futura Heavy, 'Source Sans Pro';
      white-space: nowrap;
      width: 27.4rem;
      height: 2.6rem;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.2575;
      position: absolute;
      top: 5.2rem;
    }
    .item--38u {
      top: 5.2rem;
      font-size: 2rem;
      font-weight: 700;
      color: #ffffff;
      font-family: Futura Heavy, 'Source Sans Pro';
      white-space: nowrap;
      width: 28.3rem;
      position: absolute;
      line-height: 1.2575;
      height: 2.6rem;
      left: 60.1rem;
    }
    .image-1-uwo {
      width: 15rem;
      height: 12.7374rem;
      position: absolute;
      left: 5.5rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .item--SRw {
    font-size: 2rem;
    color: #000000;
    font-family: Futura Heavy, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0rem 1.8rem 5.5rem;
    font-weight: 700;
    line-height: 1.2020000458;
    display: flex;
    align-items: baseline;

    .item--SRw-sub-0 {
      font-family: Futura Heavy, 'Source Sans Pro';
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #2a3281;
    }
    .item--SRw-sub-1 {
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #e90000;
      font-family: Futura Heavy, 'Source Sans Pro';
    }
  }
  .auto-group-bja5-G3b {
    width: calc(100% - 14.8665rem);
    height: 55.346rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0rem 9.367rem 0rem 5.5rem;

    .auto-group-urhk-ZHb {
      margin: 0.2rem 12.7rem 0rem 0rem;
      width: 62.7rem;
      flex-shrink: 0;

      .rectangle-3-tam {
        margin-bottom: 1.4rem;
        width: 12rem;
        height: 0.3rem;
        background-color: #f60000;
      }
      .auto-group-xjyu-qF7 {
        width: 100%;
        height: 47.8rem;
        position: relative;

        .item--BZs {
          font-weight: 700;
          color: #2a3281;
          font-family: Futura Heavy, 'Source Sans Pro';
          position: absolute;
          left: 0;
          top: 0;
          font-size: 4rem;
          line-height: 1.2575;
          width: 49.7rem;
          height: 15.1rem;
        }
        .item--btV {
          font-family: Avenir, 'Source Sans Pro';
          width: 62.7rem;
          height: 37rem;
          position: absolute;
          left: 0;
          top: 10.8rem;
          color: #141e35;
          font-size: 2.1rem;
          font-weight: 500;
          line-height: 1.2575;
        }
      }
    }
    .auto-group-4quw-Edw {
      width: 69.7335rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .photo5208819655668519623mupscayl4xrealesrgan-x4plus-1-mtm {
        vertical-align: top;
        border-radius: 9.8rem;
        width: 56.2335rem;
        height: 55.346rem;
        position: absolute;
        left: 13.5rem;
        top: 0;
        object-fit: cover;
      }
      .item--sB7 {
        height: 8.9rem;
        position: absolute;
        font-size: 1.4rem;
        line-height: 1.2575;
        font-family: Avenir, 'Source Sans Pro';
        width: 27.2rem;
        left: 40.3rem;
        top: 43.2rem;
        font-weight: 500;
        color: #474747;
      }
      .rectangle-5-GsT {
        top: 15.8rem;
        background-color: #f60000;
        width: 8rem;
        height: 0.3rem;
        position: absolute;
        left: 40.3rem;
      }
      .item-80-12-600-700-250-150-8-800--cAd {
        font-family: Avenir, 'Source Sans Pro';
        line-height: 1.5499999637;
        color: #000000;
        position: absolute;
        left: 0;
        top: 12.2rem;
        font-size: 2.1rem;
        font-weight: 500;
        width: 24.6rem;
        height: 16.5rem;

        .item-80-12-600-700-250-150-8-800--cAd-sub-0 {
          font-size: 1.7rem;
          font-weight: 500;
          line-height: 1.2575;
          color: #2a3281;
          font-family: Avenir, 'Source Sans Pro';
        }
        .item-80-12-600-700-250-150-8-800--cAd-sub-1 {
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2575;
          color: #2a3281;
          font-family: Avenir, 'Source Sans Pro';
        }
        .item-80-12-600-700-250-150-8-800--cAd-sub-2 {
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.2575;
          color: #474747;
          font-family: Avenir, 'Source Sans Pro';
        }
        .item-80-12-600-700-250-150-8-800--cAd-sub-3 {
          font-family: Avenir, 'Source Sans Pro';
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.2575;
          color: #474747;
        }
      }
      .da31fdd4352e8092e2ebb9d95add700b-price-tag-stroke-icon-1-1Gd {
        top: 8.5rem;
        object-fit: cover;
        vertical-align: top;
        width: 3.7rem;
        height: 3.7rem;
        position: absolute;
        left: 0;
      }
      .rectangle-4-vPb {
        background-color: #f60000;
        width: 8rem;
        height: 0.3rem;
        position: absolute;
        left: 0;
        top: 15.8rem;
      }
      .rectangle-6-fc5 {
        top: 41.5rem;
        background-color: #f60000;
        width: 8rem;
        height: 0.3rem;
        position: absolute;
        left: 0;
      }
      .rectangle-7-2Bj {
        background-color: #f60000;
        width: 8rem;
        height: 0.3rem;
        position: absolute;
        left: 40.3rem;
        top: 41.5rem;
      }
      .item-11-00-20-00-11-00-18-00--xr5 {
        top: 12.2rem;
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 1.2575;
        color: #2a3281;
        font-family: Avenir, 'Source Sans Pro';
        position: absolute;
        height: 9.6rem;
        left: 40.3rem;
        width: 12.8rem;

        .item-11-00-20-00-11-00-18-00--xr5-sub-0 {
        }
        .item-11-00-20-00-11-00-18-00--xr5-sub-1 {
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.2575;
          color: #474747;
          font-family: Avenir, 'Source Sans Pro';
        }
      }
      .item-3310389-1-3FF {
        top: 8.5rem;
        object-fit: cover;
        vertical-align: top;
        width: 2.3203rem;
        height: 3.7rem;
        position: absolute;
        left: 40.3rem;
      }
      .item--xd7 {
        line-height: 1.2575;
        color: #2a3281;
        font-family: Avenir, 'Source Sans Pro';
        width: 27.1rem;
        height: 14.9rem;
        position: absolute;
        top: 38.1rem;
        left: 0;
        font-size: 1.7rem;
        font-weight: 500;

        .item--xd7-sub-0 {
        }
        .item--xd7-sub-1 {
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.2575;
          color: #474747;
          font-family: Avenir, 'Source Sans Pro';
        }
      }
      .massage-logo-png-graphic-design-1-Sid {
        width: 3.7rem;
        height: 1.9841rem;
        position: absolute;
        left: 0.3rem;
        top: 36.1rem;
        object-fit: cover;
        vertical-align: top;
      }
      .item--xws {
        white-space: nowrap;
        width: 10.8rem;
        height: 2.2rem;
        left: 40.3rem;
        top: 38.1rem;
        font-size: 1.7rem;
        color: #2a3281;
        font-family: Avenir, 'Source Sans Pro';
        position: absolute;
        font-weight: 500;
        line-height: 1.2575;
      }
      .image-removebg-preview-1-woo {
        top: 34.8rem;
        object-fit: cover;
        vertical-align: top;
        width: 3.7rem;
        height: 3.304rem;
        position: absolute;
        left: 40.3rem;
      }
    }
  }
}
