
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 160rem;
}.frame-1-UXB {
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.200000003);
  background-size: 100% 100%;
  background-image: url('REPLACE_IMAGE:a7daeb646b7c6e7b32d4715596504c220ab6eb7b');
  box-sizing: border-box;
  padding: 0rem 6.9rem 2.014rem 5.5rem;
  width: 100%;

  .auto-group-5pu3-fbf {
    margin-bottom: 24.2626rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .image-1-NeV {
      width: 15rem;
      height: 12.7374rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 39.6rem;
    }
    .item--UxR {
      font-family: Futura Heavy, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.263rem 8.6rem 0rem 0rem;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #ffffff;
    }
    .item--g2u {
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #ffffff;
      font-family: Futura Heavy, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.263rem 8.8rem 0rem 0rem;
    }
    .item--jms {
      margin-top: 0.2626rem;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #ffffff;
      font-family: Futura Heavy, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .auto-group-iszk-q4D {
    height: 16.3rem;
    position: relative;
    flex-shrink: 0;
    margin: 0rem 0rem 0.1rem 1.5rem;
    width: 70rem;

    .real-gym-husiatyn-kgy {
      color: #ffffff;
      display: flex;
      align-items: baseline;
      width: 58.3rem;
      height: 8.6rem;
      position: absolute;
      top: 0;
      line-height: 1.1779999452;
      left: 0;
      font-size: 6.8rem;
      font-weight: 500;
      font-family: Berthold Akzidenz Grotesk, 'Source Sans Pro';
      white-space: nowrap;

      .real-gym-husiatyn-kgy-sub-0 {
        font-size: 6.8rem;
        font-weight: 500;
        line-height: 1.2575;
        color: #ffffff;
        font-family: Berthold Akzidenz Grotesk, 'Source Sans Pro';
      }
      .real-gym-husiatyn-kgy-sub-1 {
        font-size: 6.8rem;
        font-weight: 500;
        line-height: 1.2575;
        color: #e90000;
        font-family: Berthold Akzidenz Grotesk, 'Source Sans Pro';
      }
    }
    .item--qVT {
      height: 8.3rem;
      left: 0;
      top: 8rem;
      font-size: 2.2rem;
      font-weight: 500;
      color: #ffffff;
      width: 70rem;
      position: absolute;
      line-height: 1.2575;
      font-family: Avenir, 'Source Sans Pro';
    }
  }
  .auto-group-epuz-utd {
    flex-shrink: 0;
    margin: 0rem 0rem 23.8rem 1.5rem;
    color: #ffffff;
    white-space: nowrap;
    justify-content: center;
    font-weight: 500;
    font-family: Avenir, 'Source Sans Pro';
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    width: 20rem;
    height: 6.5rem;
    line-height: 1.2575;
    background-color: #d30000;
  }
  .auto-group-jb4d-ApZ {
    margin: 0rem 1.15rem 0rem 1.5rem;
    width: calc(100% - 2.65rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .logo-instagram-png-download-free-1-Vbw {
      height: 4.2857rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 117.55rem;
      width: 5rem;
    }
    .item-12-1aH {
      color: #ffffff;
      font-family: Futura Heavy, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 0.0857rem;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.2575;
      text-align: center;
      white-space: nowrap;
    }
  }
}
