
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 160rem;
}.frame-3-8Mo {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .rectangle-8-529 {
    width: 100%;
    height: 0.8rem;
    background-color: #ce0f0f;
    flex-shrink: 0;
  }
  .auto-group-at2y-pVX {
    margin-bottom: 5.7rem;
    width: 100%;
    height: 63.4rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-10-xbj {
      left: 0;
      top: 33.8rem;
      background-color: #ce0f0f;
      width: 160rem;
      height: 0.8rem;
      position: absolute;
    }
    .rectangle-9-J9o {
      width: 160rem;
      height: 33.8rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #130d2e;
    }
    .group-1-eUZ {
      position: absolute;
      left: 35rem;
      top: 13.3rem;
      width: 90rem;
      height: 50.1rem;

      .rectangle-11-a7K {
        background-color: #ffffff;
        border-radius: 4.6rem;
        width: 90rem;
        height: 50rem;
        position: absolute;
        left: 0;
        top: 0.1rem;
        box-shadow: 0.4rem 0.8rem 0.4rem rgba(0, 0, 0, 0.5);
      }
      .rectangle-12-t81 {
        height: 50rem;
        position: absolute;
        left: 39.8rem;
        top: 0;
        background-color: #c00000;
        border-radius: 4.6rem;
        width: 50.2rem;
      }
      .rectangle-13-d5b {
        width: 17.2rem;
        height: 50rem;
        position: absolute;
        left: 39.8rem;
        top: 0;
        background-color: #c00000;
      }
      .rectangle-14-xtZ {
        background-color: #ffffff;
        border-radius: 1.3rem;
        width: 30rem;
        height: 2.5rem;
        position: absolute;
        left: 45rem;
        top: 17.3rem;
      }
      .item--W9P {
        font-weight: 500;
        line-height: 1.2575;
        color: #000000;
        white-space: nowrap;
        height: 1.6rem;
        position: absolute;
        left: 46.1rem;
        top: 17.9rem;
        font-size: 1.2rem;
        font-family: Berthold Akzidenz Grotesk, 'Source Sans Pro';
        width: 10.5rem;
      }
      .item--a9F {
        line-height: 1.2575;
        color: #ffffff;
        white-space: nowrap;
        height: 2.1rem;
        left: 45rem;
        top: 14.1rem;
        font-size: 1.6rem;
        font-weight: 700;
        width: 15.5rem;
        position: absolute;
        font-family: Futura Heavy, 'Source Sans Pro';
      }
      .item--FmB {
        height: 2.1rem;
        position: absolute;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #ffffff;
        width: 23.9rem;
        left: 45rem;
        top: 21.7rem;
        font-family: Futura Heavy, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item--XCu {
        font-family: Futura Heavy, 'Source Sans Pro';
        width: 37.2rem;
        position: absolute;
        left: 1.7rem;
        top: 5.3rem;
        font-size: 3.2rem;
        line-height: 1.2575;
        height: 26.2rem;
        font-weight: 700;
        color: #000000;

        .item--XCu-sub-0 {
        }
        .item--XCu-sub-1 {
          font-weight: 700;
          line-height: 1.2575;
          color: #474747;
          font-family: Futura Heavy, 'Source Sans Pro';
          font-size: 1.6rem;
        }
      }
      .item--ZUM {
        height: 2.1rem;
        position: absolute;
        left: 45rem;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.2575;
        font-family: Futura Heavy, 'Source Sans Pro';
        width: 12.9rem;
        top: 6.5rem;
        color: #ffffff;
        white-space: nowrap;
      }
      .rectangle-14-3uK {
        top: 9.8rem;
        background-color: #ffffff;
        border-radius: 1.3rem;
        width: 30rem;
        height: 2.5rem;
        position: absolute;
        left: 45rem;
      }
      .rectangle-15-auF {
        left: 45rem;
        top: 25rem;
        background-color: #ffffff;
        border-radius: 1.3rem;
        width: 35rem;
        height: 5.5rem;
        position: absolute;
      }
      .item--KM3 {
        position: absolute;
        left: 46.1rem;
        top: 10.4rem;
        font-weight: 500;
        line-height: 1.2575;
        color: #000000;
        width: 6.4rem;
        height: 1.6rem;
        font-size: 1.2rem;
        font-family: Berthold Akzidenz Grotesk, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item--QtH {
        font-family: Berthold Akzidenz Grotesk, 'Source Sans Pro';
        white-space: nowrap;
        height: 1.6rem;
        position: absolute;
        top: 25.7rem;
        font-weight: 500;
        color: #000000;
        width: 10rem;
        left: 46.1rem;
        font-size: 1.2rem;
        line-height: 1.2575;
      }
      .rectangle-16-hsP {
        border-radius: 2.5rem;
        width: 10rem;
        height: 3.5rem;
        position: absolute;
        left: 45rem;
        top: 32.8rem;
        background-color: #ffffff;
      }
      .item--Sa5 {
        left: 46.6rem;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.2575;
        font-family: Berthold Akzidenz Grotesk, 'Source Sans Pro';
        height: 1.6rem;
        position: absolute;
        color: #000000;
        white-space: nowrap;
        width: 7.3rem;
        top: 33.9rem;
      }
    }
    .item--9Db {
      font-family: Berthold Akzidenz Grotesk, 'Source Sans Pro';
      height: 7rem;
      left: 55.3rem;
      font-size: 5.5rem;
      font-weight: 500;
      line-height: 1.2575;
      color: #ffffff;
      width: 50.6rem;
      position: absolute;
      top: 3.4rem;
      white-space: nowrap;
    }
  }
  .auto-group-sxww-2YH {
    width: calc(100% - 129.9rem);
    height: 8.8rem;
    position: relative;
    flex-shrink: 0;
    margin: 0rem 64.6rem 6.6rem 65.3rem;

    .item-0988707045-9so {
      line-height: 1.2575;
      position: absolute;
      left: 0;
      top: 0;
      font-size: 4.5rem;
      font-weight: 400;
      color: #000000;
      font-family: Helvetica Neue LT Pro, 'Source Sans Pro';
      white-space: nowrap;
      width: 22.4rem;
      height: 5.7rem;
    }
    .item--g73 {
      color: #c2241c;
      font-family: Helvetica Neue LT Pro, 'Source Sans Pro';
      width: 29.1rem;
      position: absolute;
      left: 1rem;
      top: 5.4rem;
      font-size: 2.7rem;
      line-height: 1.2575;
      height: 3.4rem;
      font-weight: 400;
      white-space: nowrap;
    }
  }
  .rectangle-17-Yf3 {
    width: 100%;
    height: 0.8rem;
    background-color: #ce0f0f;
    flex-shrink: 0;
  }
  .auto-group-qz7w-6Rf {
    height: 33.8rem;
    display: flex;
    align-items: center;
    background-color: #130d2e;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.5rem 59.6rem 2.5rem 35rem;
    width: 100%;

    .image-2-RD3 {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 7.4rem 10.3rem 0rem;
      width: 18.4rem;
      height: 18.5rem;
    }
    .auto-group-xv1b-YHf {
      margin: 7.5rem 6.1rem 13rem 0rem;
      height: calc(100% - 20.5rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .real-gym-husiatyn-Fxm {
        display: flex;
        margin-bottom: 1.8rem;
        line-height: 1.2575;
        color: #ffffff;
        font-family: Berthold Akzidenz Grotesk, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 3rem;
        font-weight: 400;
        align-items: baseline;
        flex-shrink: 0;

        .real-gym-husiatyn-Fxm-sub-0 {
        }
        .real-gym-husiatyn-Fxm-sub-1 {
          line-height: 1.2575;
          color: #e90000;
          font-family: Berthold Akzidenz Grotesk, 'Source Sans Pro';
          font-size: 3rem;
          font-weight: 400;
        }
      }
      .realgymhusiatyncom--1qT {
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        margin-left: 6rem;
        max-width: 26.3rem;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.2175;
        color: #ffffff;
      }
    }
    .item--etR {
      color: #ffffff;
      font-family: Berthold Akzidenz Grotesk, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 14.5rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.2575;
    }
  }
}
